<% @articles.inspect # " inspect " Metodo de ruby para inspeccionar%>


<% @articles.each do |article| %>
  <h1><%= link_to article.title, article%></h1>
    <div class="">
      <%= article.body%> - <%= link_to "Eliminar", article, method: :delete, class: "purple"%><br>
      <%= article.visits_count%><br>
      <%= article.id%><br>
    </div>
<%end%>
