<h1><%= @article.title%></h1>
  <div class="">
  <%= @article.body%>
  <%= @article.visits_count%>
  <%= @article.id%>
  </div>
  <div class="">
    <%= link_to "Editar", edit_article_path(@article), class: "purple"%><!-- link_to "", ruta para redireccionar a edit del articulo -->
  </div>
